.mycompany {
  color: #fcac45;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.about__right {
  margin-left: 175px;

  & h1 {
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
  }
  & p {
    margin: 30px 0 50px 0;
    color: #6c6c6c;
  }

  & li {
    color: #5a5a5a;
    background: url(img/marker.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
  }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .main__about{
        display: flex;
        padding: 100px 0 100px 0;
    }
  
    & .main__welcome {
      background: #000;
      text-align: center;
      padding: 200px 0 410px 0;
  
      & p {
        color: #999999;
        font-size: 20px;
      }
      & h1 {
        color: #999999;
        font-size: 44px;
      }
    }
  }
.mw-100 {
  min-width: 100%;
}
